body { 
    margin: 0; 
    overflow: hidden; 
    background: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-family: monospace; 
}

#gameCanvas { 
    position: absolute; 
    top: 0; 
    left: 0; 
}
